demo/crash.log
demo/dist/Main.js
.idea/
demo/browserify-experiment/
demo/elm-stuff
demo/node_modules
demo/public/Main.js
demo/public/Main.min.js
demo/public/data
elm-stuff
demo/dist/index.tauri.html
node_modules

**/.DS_Store
demo-math/public/Main.js
demo-math/.env
./app.ts
**/*/Main.min.js
server/
demo-math/app.ts
